* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera {
    /* float: left; */
    display: flex;
}
header nav {
    width: 100%;
}
/* header nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    padding-inline-start: 0px;
}
header nav ul li {
    text-align: left;
    list-style-type: none;
    display: inline;
    flex: 1;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
header nav ul a {
    padding: 8px;
    /* height: 20px; */
    margin: auto;
    /* margin-left: 100px; */
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    background-color: orange;
    color: #4d4d4d;
}
header .cabecera .logo {
    /* text-align: center; */
    /* color: red; */
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

header nav ul a:hover {
    background-color: #fcd58c;
}


/* SECCIÓN PRINCIPAL */
main h2 {
    font-size: 2em;
    padding: 10px;
}
main {
    margin-left: 50px;
    margin-right: 50px;
}
main .principales {
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}
main section.datos {
    max-width: 35%;
    margin: auto;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}
main section.datos ul {
    text-align: left;
    padding: 0px;
}
main section.datos ul li {
    list-style-type: none;
    color: #5e5e5e;
}

/* SECCIÓN DE LOS LIBROS */
main div.libros {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
main div.libros section {
    width: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 3px gray;
    margin: 10px;
    padding: 15px;
}

/* SECCIÓN CIERRE DE SESIÓN */
