/* ========================== ESTILOS PARA EL MAIN DEL CATÁLOGO ================ */
main { /* main modificado para el catálogo */
    top: 1000px;
    margin: 100px 20px;
    text-align: center;
}

main #cabecera-main-catalogo {
    padding-bottom: 20px;
}
main section.contenido {
    margin: 0 100px;
    /* margin-top: 20px; */
    /* padding-left: 100px; */
    /* border: 1px solid black; */
}
main section.contenido h3 {
    margin-top: 10px;
    text-align: left;
    padding-left: 30px;
}

/* ------------- Contenedor de libros ----------------- */
main section.contenido div.libros {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
    margin: 2px 20px;
    /* padding: 1px 20px 20px 20px; */
}
/* Libro individual */
main section.contenido div.libros div {
    margin: 10px;
    display: flex;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px gray;
    max-width: 100%;
    max-height: 80%;
}
main section.contenido div.libros div:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
main section.contenido div.libros div a { /* Ajustado el enlace en cada div */
    text-decoration: none;
    width: 100%;
    max-height: 100%;
    display: flex;
}

main section.contenido div.libros div img { /* Ajustada cada imágen */
    max-width: 100%;
    height: auto;
}