/* Formulario centrado */
#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

main form h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-size: 1.75em;
}

main form p {
    margin-bottom: 30px;
    color: #777;
    font-size: 0.9em;
}

main form input {
    margin-bottom: 10px;
    text-align: left;
}

main form input label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
    font-size: 0.9em;
}

main form input[type="email"],
main form input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 0.9em;
}

.opciones label{
    display: flex;
    align-items: center;
    color: #555;
}

.opciones label input {
    vertical-align: middle;
    margin: 0;
    margin-right: 5px;
}

.opciones a {
    color: #007bff;
    text-decoration: none;
}
main form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

main form button:hover {
    background-color: #0056b3;
}

.registro {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
    text-align: center;
}

.registro a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.continuar {
    text-align: center;
    position: relative;
    margin: 25px 0;
}
.continuar a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background-color: #fff; 
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.continuar a:hover {
    background-color: #f4f4f4;
    border-color: #aaa;
}