main {
    max-width: 900px;
    padding: 0 2rem;
    text-align: center;
}
main form {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
